<div class="main posts-destroy-confirm">
  <div class="container">
    <div class="posts-destroy-confirm-item">
      <h2>投稿を削除しますか？</h2>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <div class="destroy-menus">
        <%= link_to("削除する", "/posts/#{@post.id}/destroy?confirmed=true", method: :post, class: "btn-danger") %>
        <%= link_to("キャンセル", "/posts/#{@post.id}", class: "btn-cancel") %>
      </div>
    </div>
  </div>
</div>
